/*header*/
header {
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 0 4% 4% 4%;
}
.links {
    display: flex;
    gap: 40px;
}
.linkDesign {
    color: white;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 4px;
    border-bottom: 1.5px solid transparent;
    transition: all 300ms;
    font-size: 20px;
}
.linkDesign:hover {
    border-bottom: 1.5px solid white;
}

/*Main section*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20%;
}
section .about {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 160px;
    margin: 80px 0;
}
section .container {
    display: flex;
    gap: 40px;
}
.text {
    background-image: radial-gradient(darkblue, black 70%);    
}
img {
    align-self: center;
    width: 10%;
    height: auto;
    border-radius: 10px;
}
#reverse {
    flex-direction: row-reverse;
}

h2 {
    border-bottom: solid 1px white;
}
#dailyDev {
    color: white;
    text-decoration: none;
}
#dailyDev:hover {
    text-decoration: underline;
}

/*Mobile dropdown*/
header .dropdown {
    display: none;
}
header .dropdown.visible {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
}
header .drop {
    display: none;
    margin: 20px 0;
    border-radius: 4px;
    transition: all 200ms;
}
header .drop:hover {
    color: red;
}

/*Media screen adjustments*/
@media screen and (max-width: 1040px) {
    section {
        padding: 0 10%;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 0 5%;
    }
    section .about {
        flex-direction: column;
    }

    header {
        justify-content: start;
        align-items: start;
        padding: 0 4% 4% 4%;
        gap: 8%;
    }
    header .links {
        display: none;
    }
    header .drop {
        display: block;
    }
    .container {
        flex-direction: column;
    }
    #reverse {
        flex-direction: column;
    }
    img {
        width: 40%;
    }
}
@media screen and (min-width: 768px) {
    header .dropdown.visible {
        display: none;
    }
}
