/*header*/
header {
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 0 4% 4% 4%;
}
.links {
    display: flex;
    gap: 40px;
}
.linkDesign {
    color: white;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 4px;
    border-bottom: 1.5px solid transparent;
    transition: all 300ms;
    font-size: 20px;
}
.linkDesign:hover {
    border-bottom: 1.5px solid white;
}

/*Main section*/
section {
    padding: 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 18px;
}
section .layout {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
section .socials {
    display: flex;
    gap: 20px;
    align-items: center;
}
section .icon {
    color: white;
    transition: all 300ms;
}
section .icon:hover {
    color: rgb(0, 60, 255);
    transform: scale(1.10);
}

/*Copy success*/
.copy {
    display: none;
    color: rgb(0, 180,0);
}

/*Mobile dropdown*/
header .dropdown {
    display: none;
}
header .dropdown.visible {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
}
header .drop {
    display: none;
    margin: 20px 0;
    border-radius: 4px;
    transition: all 300ms;
}
header .drop:hover {
    color: red;
}

/*Media screen adjustments*/
@media screen and (max-width: 768px) {
    header {
        justify-content: start;
        align-items: start;
        padding: 0 4% 4% 4%;
        gap: 8%;
    }
    header .links {
        display: none;
    }
    header .drop {
        display: block;
    }

    section {
        padding: 0 5%;
    }
}
@media screen and (min-width: 768px) {
    header .dropdown.visible {
        display: none;
    }
}