/*Main section*/
section {
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    display: flex;
    grid-gap: 80px;
    padding: 0 30%;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
}
section .navigate {
    display: flex;
    gap: 15px;
}
.image {
    align-content: center;
}
h1 {
    font-size: 60px;
}
p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}
img {
    width: 20vw;
    height: auto;
    border-radius: 4px 24px;
}

/*Media screen adjustments*/
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }
    section .navigate {
        display: grid;
    }
    h1 {
        font-size: 40px;
    }
    p{
        font-size: 16px;
    }
    img {
        display: none;
    }
}