/*Main section*/
section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 80px;
    padding: 0 20%;
}
section .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
section .navigate {
    display: flex;
    gap: 15px;
}
section .imagewindow {
    height: auto;
    width: 100%;
    margin-top: 20%;
}
section .imagemobile {
    height: auto;
    width: 40%;
    display: none;
}
h1 {
    font-size: 60px;
    margin-top: 0;
}
p {
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
}

/*Media screen adjustments*/
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }
    section .imagewindow {
        display: none;
    }
    section .imagemobile {
        display: flex;
    }
}