/*Body themes*/
body {
    margin: 0;
    color: white;
    background-color: #3f54f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gowun Batang', sans-serif;
}

/*Header themes*/
header {
    padding: 4%;
    background-image: linear-gradient(darkblue, #3f54f7);
}

/*Footer themes*/
footer {
    padding: 4%;
    background-image: linear-gradient(#3f54f7, darkblue);
    margin-top: auto;
}
